#title {
    background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
line-height: 1.5;
color: white;
font-weight: bold;
}
.container-fluid{
padding: 3% 15%;
padding-bottom: 7%;
}

.a{
    font-size: large;
}
body{
    font-family: 'Montserrat-Black', sans-serif;
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
   
}
.nav-link{
    font-family: "Montserrat";
font-size: 1.2rem;
font-weight: thin;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.img{
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    bottom: -100px;

right: 300px;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature{
    text-align: center;
    font-family: "Montserrat";
}

h3{
    font-family: "Montserrat";
    font-weight: bold;
}
p{
    color: grey;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.img2{
width: 10%;
border-radius: 100%;
margin: 20px;
}
#press{
    padding-bottom: 3%;
    text-align: center;
    background-color: #ef8172;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
}

.pricing-col{
    padding: 2% 3%;
}

.dog{
    text-align: center;
}

#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center; 

}

.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
line-height: 1.5;
color: white;
}

@media (max-width: 1028px){


    #title {
        text-align: center;
    }
    .img{
position: static;
transform: rotate(0);
}
}
#footer{
    padding: 7%;
    text-align: center;
}
.bt3:hover{
color: black;
}
